{% extends "base.html" %}
{% block title %}{{ software_name|lower }}{% endblock %}
{% block head %}<link rel="stylesheet" href="{{ url_for('static', filename='css/display.css') }}">{% endblock %}
{% block body_class %}page-display{% endblock %}

{% block body %}
<div class="viewport">
  <div class="stage crt" id="stage" data-program="{{ software_name|lower }}">
    <header class="topline">
      <span>{{ operator }}@{{ software_name|lower }}</span>
      <span class="topline__right"><span id="link-status">link ok</span><span id="clock">00:00:00</span></span>
    </header>

    <div class="main">
      <section class="frame frame--log">
        <span class="frame__label">log</span>
        <pre class="log"><span id="log"></span><span class="blink">&#9608;</span></pre>
      </section>

      <section class="frame frame--preview">
        <span class="frame__label">preview</span>
        <div class="bay">
          {% include "_card.html" %}
          <div class="print-mask" id="print-mask" hidden></div>
          <div class="print-head" id="print-head" hidden></div>
          <div class="waiting" id="waiting">no data</div>
        </div>
      </section>

      <div class="connection" id="connection" hidden>connect &nbsp;{{ base_url }}/user</div>
    </div>

    <footer class="bottomline">
      <span><b>[enter]</b> print &nbsp; <b>[r]</b> again &nbsp; <b>[esc]</b> abort</span>
      <span>log: off</span>
    </footer>

    {% include "_decoy.html" %}
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/animation.js') }}"></script>
<script src="{{ url_for('static', filename='js/display.js') }}"></script>
{% endblock %}
